.border-green{
  border: 1.5px solid green;
}

.field-frame{
  border: 1px solid black;
  width: 85%;
  height: 1.8rem;
  color: gray;
  font-size: 90%;
  text-align: center;
}


.product-selection{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

.button-home{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.btn{
  border-radius: 3px;
  background-color: lightgray;
  padding: 0;
  width: 43%;
  font-size: 0.8em;
}


/////////////////////////////////////////////
//Tablet - big
@media screen and (max-width: 1024px) {
  .btn{
    width: 80%;
    font-size: 0.7rem;
    color: black;
  }
}

//////////////***************///////////////////////
/// //**Tablet - small**
@media screen and (max-width:992px) {
  
  .button-home{
    flex-direction: column;
    width: 85%;
  }
  .btn{
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
///----------------------------------///////
/// //Cellular
@media screen and (max-width: 600px) {
    .field-frame{
        border: 1px solid black;
        width: 85%;
        height: 1.8rem;
        color: gray;
        font-size: 90%;
        text-align: center;
    }
    .product-selection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .button-home{
        width: 90%;
    }
    .btn{
      width: 90%;
      font-size: 0.9em;
    }

}