.border-green{
  border: 1.5px solid green;
}
.main-body{
  min-height: 100vh ;
  max-width: 55rem;
  box-sizing: border-box;
  position: relative;
  padding: 0%;
  margin: 0%;
}

//header
.header{
  height: 6rem;
  position: relative;
  background-color: rgb(91, 117, 81);
  width: 100%;
}

.title{
  position: absolute;
  top:2rem;
  left:2rem;
  width: 25%;
  background-color: rgb(204, 227, 203);
  height: 5rem;
  text-align: center;
  font-weight: 800;
  font-size: 130%;
  padding-top: 1.2rem;
}


//buttons
.btn-1{
  margin-top: 2.5rem;
  background-color: rgb(91, 117, 81);
  color: white;
  font-weight: 700;
  height: 4rem;
  width: 10rem;
   
}



//selection-list
.product-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(204, 227, 203);
  width: 35%;
  height: 90%;
  margin-right: 2%;
  // margin-top: 2%;
}
.selection-window{
  margin: 1.5rem 1rem ;
   background-color: rgb(91, 117, 81);
   height: 13rem;
   width:85%;
}

//check-boxes
.check-home{
  padding-left: 1rem;
  padding-top: 1.5rem;
  color: whitesmoke;
  font-size: 130%;
  border: 1px solid black;
}

//footer
.footer-data{
  margin-left: 70%;
  font-weight: bold;
}
.footer-style{
  background-color: rgb(91, 117, 81);
  color: whitesmoke;
  width: 100%;
  position: absolute;
  bottom: 0;
}

//////////////////////////////////////////////
//Tablet - big
@media screen and (max-width: 1024px) {
  
  .header{
  height: 5rem;
  .title{
    position: absolute;
    top:2.5rem;
    left:2.5rem;
    width:30%;
    height: 4rem;
    font-weight: 700;
    padding-top: 1rem;
  }
}

  
.footer-style{
  padding-top: 0.6rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

}

//////////////***************///////////////////////
/// //**Tablet - small**
@media screen and (max-width:800px) {
   .main-body{
  // height: 90%;
  margin: 0;
  padding-bottom: 2rem;
}
 .header{
  height: 4rem;
  padding-top: 0.25rem;
  .title{
    top:1rem;
    left:1rem;
    width: 50%;
    height: 3.5rem;
    margin: 0;
  }
}
  
.btn-1{
  margin-top: 2rem;
  font-weight: 600;
  height: 3rem;
  width: 10rem;
  align-self: center;
}
.product-list{
  width: 25%;
}
.footer-style{
  padding-top: 0.5rem;
  position: absolute;
  bottom: 0;
}
}
///----------------------------------///////
/// //Cellular
@media screen and (max-width: 600px) {
  .main-body{
  height: 90%;
}

//header
.header{
  height: 4rem;
  position: relative;
  .title{
    position: absolute;
    top:50%;
    left:1rem;
    width: 60%;
    height: 3rem;
    font-weight: 700;
    font-size: 110%;
    padding-top: 0.4rem;
    padding-bottom: 0;
  }
}


.inner-style{
  width: 100%;
  display: flex;
  flex-direction: column;
 justify-content:center;
 padding: 0;
}
.btn-1{
  margin-top: 3rem;
  font-weight: 500;
  height: 2.5rem;
  width: 10rem;
  align-self: center;
}
//selection-list
.product-list{
  width: 85%;
  margin: auto;
  margin-bottom: 5%;
}
.selection-window{
  margin: 1.5rem auto;
  padding: 0%;
}

//check-boxes
.check-home{
  padding-top: 1.5rem;
  padding-left: 0.5rem;
  color: whitesmoke;
  font-size: 90%;
  border: 1px solid black;
}

//footer

.footer-data{
  margin: 0%;
  padding: 0.5rem;
}
.footer-style{
 display: flex;
 align-items: center;
 justify-content: center;
}

}